<div class="shifts">
  <p-table [value]="shifts" selectionMode="single" [(selection)]="selectedShift" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      Shifts
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Day</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
      <tr [pSelectableRow]="shift">
        <td class="align-center">{{ shift.id }}</td>
        <td>{{ shift.day }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-shift>
      <div class="summary-wrapper">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Shift details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="600">
    <div class="ui-g ui-fluid" *ngIf="shift">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id">ID</label>
        </div>
        <div class="ui-g-8">
          <input disabled="true" pInputText id="id" [(ngModel)]="shift.id" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="day">Day</label>
        </div>
        <div class="ui-g-8">
          <p-chips [allowDuplicate]="false" id="day" [(ngModel)]="shift.day" (onAdd)="checkDay($event)"></p-chips>
          <span class="valid-days">Valid values: Monday, Tuesday, Wednesday, Thursday, Friday ( onlye one accepted )</span>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" [disabled]="!disabledForm" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button *ngIf="!shift.id" type="button" [disabled]="!disabledForm" pButton icon="fa fa-check" (click)="save()"
          label="Save"></button>
        <button *ngIf="!!shift.id" type="button" [disabled]="!disabledForm" pButton icon="fa fa-check" (click)="update()"
          label="Update"></button>
      </div>
    </p-footer>
  </p-dialog>

</div>
