<div class="workers">
  <p-table [value]="workers" selectionMode="single" [(selection)]="selectedWorker" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      Workers
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Availability</th>
        <th>Payrate</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-worker>
      <tr [pSelectableRow]="worker">
        <td class="align-center">{{ worker.id }}</td>
        <td>{{ worker.availability }}</td>
        <td>{{ worker.payrate | euro }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-worker>
      <div class="summary-wrapper">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        <span>Total cost: {{ totalCost | euro }}</span>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Worker details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [width]="600">
    <div class="ui-g ui-fluid" *ngIf="worker">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="id">ID</label>
        </div>
        <div class="ui-g-8">
          <input disabled="true" pInputText id="id" [(ngModel)]="worker.id" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="availability">Availability</label>
        </div>
        <div class="ui-g-8">
          <p-chips [allowDuplicate]="false" id="availability" [(ngModel)]="worker.availability" (onAdd)="checkAvailability($event)"></p-chips>
          <span class="valid-days">Valid values: Monday, Tuesday, Wednesday, Thursday, Friday</span>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="payrate">Payrate</label>
        </div>
        <div class="ui-g-8">
          <input pInputText type="number" [(ngModel)]="worker.payrate">
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" [disabled]="!disabledForm" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button *ngIf="!worker.id" type="button" [disabled]="!disabledForm" pButton icon="fa fa-check" (click)="save()"
          label="Save"></button>
        <button *ngIf="!!worker.id" type="button" [disabled]="!disabledForm" pButton icon="fa fa-check" (click)="update()"
          label="Update"></button>
      </div>
    </p-footer>
  </p-dialog>

</div>
