.workers{
  padding: 50px 50px 0 50px;

  .valid-days{
    font-size: 10px;
    color: gray;
  }

  .summary-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
