.tables{
  display: flex;
  padding: 50px 50px 0 50px;
  flex-wrap: wrap;
  justify-content: center;

  p-table{
    padding: 0 10px;
    margin-bottom: 30px;
    width: 50%;
  }

  .align-center{
    text-align: center;
  }
}
