<div class="tables">

  <p-table [value]="workers">
    <ng-template pTemplate="caption">
      Workers
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>ID</th>
        <th>Availability</th>
        <th>Payrate</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-worker>
      <tr [pSelectableRow]="rowData">
        <td class="align-center">{{ worker.id }}</td>
        <td>{{ worker.availability }}</td>
        <td>{{ worker.payrate | euro }}</td>
      </tr>
    </ng-template>
  </p-table>


  <p-table [value]="shifts">
    <ng-template pTemplate="caption">
      Shifts
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>ID</th>
        <th>Day</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
      <tr [pSelectableRow]="rowData">
        <td class="align-center">{{ shift.id }}</td>
        <td>{{ shift.day }}</td>
      </tr>
    </ng-template>
  </p-table>


  <p-table [value]="mappings?.mappings">
    <ng-template pTemplate="caption">
      Matchings
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Worker</th>
        <th>Shift</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-matching>
      <tr [pSelectableRow]="rowData">
        <td class="align-center">{{ matching.workerId }}</td>
        <td class="align-center">{{ matching.shiftId }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align: center">
        Total cost: {{ totalCost | euro }}
      </div>
    </ng-template>
  </p-table>
</div>
